*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

body{
    background-color: rgb(241, 242, 247);
}

.header{
	display:flex;
	align-items:center;
	background-color:rgb(40, 116, 240);
}

.headerLogo{
	margin-left:13vw;
}

.searchBar{
	display:flex;
	align-items:center;
	height:40px;
	padding-left:20px;
	margin-left:20px;
	background-color:rgb(255, 255, 255);
	font-size:14px;
}

.searchBar input{
	width:30vw;
	border:none;
}

.searchBar img{
	margin-right: 10px;
}

.searchBar input:focus{
	outline:none;
}

.login{
	color:rgb(40, 116, 240);
	background-color:white;
	font-weight:bold;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:20px;
	width:120px;
	height:30px;
}

.seller{
	width:130px;
	color:white;
	font-weight:bold;
	margin-left:2vw;
}

.more{
	margin-left:2vw;
	display:flex;
	width:55px;
	justify-content:space-between;
	color:white;
	font-weight:bold;
}

.cart{
	margin-left:2vw;
	display:flex;
	width:50px;
	justify-content:space-between;
	color:white;
	font-weight:bold;
}